    .form {
        @apply relative w-70 z-10 laptop:w-80
    }
    .input {
        @apply w-full mb-3 pl-8 h-11 border border-main rounded-full outline-none text-main desktop:border-transparent desktop:shadow-formInput;
    }
    .label {
        @apply absolute left-8 top-3 text-sm text-main desktop:text-likeGrey hover:text-main transition-transform;
    }
    .phonebutton {
        @apply !pl-6 !rounded-l-full !border-hidden !bg-transparent;
    }

    .phoneinput {
        @apply !pl-[72px] !h-11 text-main !border-buttonMobile desktop:!border-hidden !w-full !rounded-full desktop:shadow-formInput desktop:text-likeGrey;
    }
    .phonedropdown {
        @apply left-0 top-0 !m-0 !pl-8 !w-70 laptop:!w-80 text-left !rounded-2xl snap-start;
    }
        .phonedropdown::-webkit-scrollbar {
            @apply w-4 bg-[#e4eaeb];
        }
        .phonedropdown::-webkit-scrollbar-thumb {
            @apply h-2 rounded bg-likeGrey;
        }

.error {
    @apply absolute -top-2 left-8 z-10 text-error text-xs;
}
.modalsuccess{
    @apply w-80 laptop:w-[440px] py-[72px] laptop:px-[68px] bg-white text-center;
}


.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    @apply text-xs text-main -translate-y-20;
}
.checkbox {
    position: absolute;
    appearance: none;
}

.checkbox:checked + .check {
    @apply  bg-[url('../../images/check.svg')] bg-no-repeat bg-left laptop:bg-[url('../../images/checkWhite.svg')] desktop:bg-[url('../../images/check.svg')];
    
}

.check {
    @apply mt-1 min-w-[16px] min-h-[16px] border-2 border-main  desktop:border-likeGrey rounded-[5px];
}
/* анимация галочки */
/* #anim-one {
    text-align: center;
    padding-top: 100px;
    font-size: 0;
    font-weight: 700;
    color: #00CED2;
    animation: bounce-text 2s infinite cubic-bezier(0.245, 0.325, 0.670, 1.510);
}

@keyframes bounce-text 60% font-size: 60px 100% font-size: 60px */

/* FormInModal */
.modalform {
    @apply w-[320px] laptop:w-[440px] py-10 px-5 bg-background text-center;
}
.modaltitle {
    @apply mb-[10px] laptop:mb-1 text-xl laptop:text-2xl font-medium laptop:font-semibold text-main;
}
.modaltext {
    @apply laptop:font-medium text-base laptop:text-xl text-black;
}
