@tailwind components;

@layer components {
    .form {
        @apply w-[324px] m-auto;
    }
    .input {
        @apply w-full mb-3 pl-8 h-11 rounded-full shadow-inner outline-none text-main;
    }
    .label {
        @apply absolute left-8 top-3 text-sm text-likeGrey hover:text-main transition-transform;
    }
.error {
    @apply absolute -top-1 right-8 z-10 text-error text-[8px];
}
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    font-size: 8px;
    color: #00A5CC;
    transform: translateY(-20px);
}
.checkbox {
    position: absolute;
    appearance: none;
}

.checkbox:checked + .check {
    background-image: url('../../images/check.svg');
}

.check {
    width: 16px;
    height: 16px;
    background-image: url('../../images/notcheck.svg');
}