
   .titleFacts {
    @apply text-main text-xl font-medium laptop:font-semibold laptop:text-4xl  text-center laptop:w-[68%] laptop:ml-32 laptop:pl-6 desktop:pl-0 desktop:ml-0 desktop:w-[100%]  pt-6 desktop:pt-20 -top-20 max-w-7xl laptop:mb-4 desktop:mb-0;
  }

   .listFacts {
    @apply flex  text-sm pr-4 w-full min-w-min justify-center flex-wrap text-start pb-32  desktop:pb-24  pt-2  desktop:flex-nowrap;

  }

    .listFacts {
    @apply flex  text-sm pr-4 desktop:max-w-7xl text-start  pb-24  pt-2  ;
  } 
  .listFacts{
    @apply relative desktop:w-48 desktop:flex
   }
  
   .listFacts li:nth-child(1){
    @apply mb-3  desktop:mb-0 mr-5 desktop:mt-64 w-48 laptop:ml-20
  }
  .listFacts li:nth-child(2){
    @apply mb-3 desktop:mb-0 mr-5  desktop:mt-52 w-48
  } 
  .listFacts li:nth-child(3){
    @apply mb-3 desktop:mb-0 mr-5 desktop:mt-40 w-48 
  }
  .listFacts p:nth-child(3){
    @apply   desktop:mt-48 ml-4
  }
  .listFacts li:nth-child(4){
    @apply tablet:mr-10  ml-8 laptop:mr-5 desktop:mt-28 desktop:ml-0 w-48
  }
 
  .listFacts li:nth-child(5){
    @apply tablet:mr-2 laptop:mr-5 desktop:mt-16 w-48
  }
  .listFacts li:nth-child(6){
    @apply  laptop:-mr-5 desktop:mr-5 desktop:mt-5  w-48
  } 
  
   .textPr {
  @apply text-main list-none  list-inside font-normal pl-15  mt-10  text-sm  ;
  }
  
  .textContainer {
  @apply w-50 h-36 mt-36 text-center flex flex-col justify-center ;
  }
  
  
  .testSec {
  @apply  font-normal text-sm pr-4 text-start pl-8 mt-48  desktop:mt-56 
  }
 

  
  .iconClass{
    @apply  pl-40  -mb-56 pb-12

  }
  
  
  
  .itemFacts {
    @apply  relative w-48;
  }
  
  .svgContainerFacts {
    @apply w-5 h-5   absolute -top-5  left-7   z-10;
  }
  
  .iconFacts {
    @apply   mt-14 ml-0 w-[22px] h-[22px];
  }
  
  
  
  .svgBgFacts {
    @apply icons-step fill-mainSecondLight  -mt-48 -ml-5;
  }
  
  
  .itemFacts {
    @apply relative w-48;
  }
  .itemFactsMob{
    @apply relative w-48;
  }
  .iconFacts-template {
    position: absolute;
    display: block;
    content: '';
  
    top: 0;
    left: 0;
    background-color: #02A6CD;
  }
  
  .itemFacts::before {
    @apply iconFacts-template;
    width: 24px;
    height: 104px;
  }
  
  .itemFacts::after {
    @apply iconFacts-template;
    width: 200px;
    height: 24px;
   
  }
 
  .itemFacts:nth-child(2)::before,
  .itemFacts:nth-child(2)::after {
    background-color: #27B6D8;
  }
  
  .itemFacts:nth-child(3)::before,
  .itemFacts:nth-child(3)::after {
    background-color: #41C1DF;
}
  
  .itemFacts:nth-child(4)::before,
  .itemFacts:nth-child(4)::after {
    background-color: #5DCEE7;
  
  }
  .itemFacts:nth-child(5)::before,
  .itemFacts:nth-child(5)::after {
    background-color: #7FDCF1;
  }
  .itemFacts:nth-child(6)::before,
  .itemFacts:nth-child(6)::after {
    background-color: #9DE9FA;

  }

  .itemFacts::after{
    @apply tablet:visible laptop:block
  }

  @media screen and (tablet){
    .iconFacts-template{
      visibility: visible;
    }
  }
  @media screen and (min-width: 768px){
    .iconFacts-template{
      display: block;
    }
  }