.titleFacts {
  @apply text-mainSecondLight font-semibold text-4xl  text-center pt-20 -top-20;
}
.listFacts {
  @apply flex  text-sm pr-4  text-start  pb-24  pt-2  ;

}

  .listFacts {
  @apply flex  text-sm pr-4 max-w-7xl text-start  pb-24  pt-2  ;
} 


 .listFacts li:nth-child(1){
  @apply mr-5 mt-64 w-48 ml-20
}
.listFacts li:nth-child(2){
  @apply   mr-5  mt-52 w-48
} 
.listFacts li:nth-child(3){
  @apply  mr-5 mt-40 w-48 
}
.listFacts p:nth-child(3){
  @apply  mt-48 ml-4
}
.listFacts li:nth-child(4){
  @apply   mr-5   mt-28  w-48
}

.listFacts li:nth-child(5){
  @apply  mr-5 mt-16 w-48
}
.listFacts li:nth-child(6){
  @apply mr-5 mt-5  w-48
} 


.textPrP {
@apply text-mainSecond list-none  list-inside font-normal pl-16  mt-8  text-sm  ;
}
.textContainer {
  @apply w-50 h-36 mt-36 text-center flex flex-col justify-center ;
  }
  
  
  .testSecS {
  @apply  font-normal text-sm pr-4 text-start pl-8 mt-56 
  }
 

  
  .iconClass{
    @apply  pl-40  -mb-56 pb-12

  }
  
  
  
  .itemFacts {
    @apply relative w-48;
  }
  
  .svgContainerFacts {
    @apply w-5 h-5   absolute -top-5  left-7   z-10;
  }
  
  .iconFacts {
    @apply   mt-14 ml-0;
  }
  
  
  
  
  .svgBgFacts {
    @apply icons-step fill-mainSecondLight  -mt-48 -ml-5;
  }
  .listFacts{
    @apply relative w-48
   }
  .itemFacts {
    @apply relative w-48;
  }
  
  .iconFacts-template {
    position: absolute;
    display: block;
    content: '';
  
    top: 0;
    left: 0;
  
    background-color: #F17C39;
  }
  
  .itemFacts::before {
    @apply iconFacts-template;
  
    width: 24px;
    height: 104px;
  }
  
  .itemFacts::after {
    @apply iconFacts-template;
  
    width: 200px;
    height: 24px;
  }
  
  .itemFacts:nth-child(2)::before,
  .itemFacts:nth-child(2)::after {
    background-color: #F38F55;
  }
  
  .itemFacts:nth-child(3)::before,
  .itemFacts:nth-child(3)::after {
    background-color: #F59E6B;
  }
  .itemFacts:nth-child(4)::before,
  .itemFacts:nth-child(4)::after {
    background-color: #F7B188;
  }
  .itemFacts:nth-child(5)::before,
  .itemFacts:nth-child(5)::after {
    background-color: #F9C6A8;
  }
  .itemFacts:nth-child(6)::before,
  .itemFacts:nth-child(6)::after {
    background-color: #FCD9C4;
  }
   